<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="display-screen">{{display}}</div>

  <ion-grid>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="reset()">AC</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="deleteLast()">DEL</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="setOperation('^')">^</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="setOperation('/')">/</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="unaryOperation('sqrt')">√</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="unaryOperation('sin')">sin</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="unaryOperation('cos')">cos</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="unaryOperation('tan')">tan</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="appendNumber('7')">7</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="appendNumber('8')">8</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="appendNumber('9')">9</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="setOperation('*')">x</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="appendNumber('4')">4</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="appendNumber('5')">5</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="appendNumber('6')">6</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="setOperation('-')">-</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="appendNumber('1')">1</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="appendNumber('2')">2</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="appendNumber('3')">3</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="setOperation('+')">+</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"><ion-button expand="block" (click)="appendNumber('0')">0</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="appendDecimal()">.</ion-button></ion-col>
      <ion-col><ion-button expand="block" color="success" (click)="calculate()">=</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>